<!DOCTYPE html>
<html lang="en">

<head>
    <title>Credit Simulation App</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://chiknwy.github.io/Tekweb/porto/img/lgo.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css">
    <link rel="stylesheet" href="styles.css">
</head>

<body class="bg-gray-900 text-blue-200">

    <div id="app" class="container mx-auto p-4">
        <div class="absolute right-5 uppercase text-lg flex items-center space-x-2">
            <a href="https://chiknwy.github.io/Tekweb/porto/">
                <span class="font-extrabold text-blue-400">Chiko</span><br>
                <span class="font-extralight text-indigo-500">Satria</span>
            </a>
        </div>
        <h1 class="text-2xl font-bold mb-4">Credit Simulation</h1>

        <!-- Currency toggle button -->
        <button @click="toggleCurrency" class="mb-4 px-2 py-1 bg-indigo-600 text-white rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            {{ selectedCurrency === 'USD' ? 'Switch to IDR' : 'Switch to USD' }}
        </button>

        <!-- Loan input form -->
        <form @submit.prevent="calculateMonthlyPayment" class="mb-4">
            <div class="mb-4">
                <label for="loanAmount" class="block text-sm font-medium text-blue-400">Loan Amount ({{ selectedCurrency === 'USD' ? 'USD' : 'IDR' }}):</label>
                <input v-model="loanAmount" type="number" id="loanAmount" required class="bg-gray-900 border rounded-md mt-1 px-2 py-1 w-full focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md appearance-none">
            </div>

            <div class="mb-4">
                <label for="interestRate" class="block text-sm font-medium text-blue-400">Interest Rate (%):</label>
                <input v-model="interestRate" type="number" id="interestRate" required
                class="bg-gray-900 border rounded-md mt-1 px-2 py-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
            </div>

            <div class="mb-4">
                <label for="loanTerm" class="block text-sm font-medium text-blue-400">Loan Term (months):</label>
                <input v-model="loanTerm" type="number" id="loanTerm" required
                class="bg-gray-900 border rounded-md mt-1 px-2 py-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md">
            </div>
            <button type="submit" class="px-4 py-2 bg-indigo-600 text-white rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Calculate</button>
        </form>

        <!-- Display monthly payment -->
        <div v-if="monthlyPayment !== null" class="bg-gray-800 text-blue-200 p-4 rounded-md">
            <p class="text-lg font-semibold">Your Monthly Payment: {{ formatCurrency(monthlyPayment, selectedCurrency) }}</p>
        </div>

        <!-- History section -->
        <div class="mt-8">
            <h2 class="text-xl font-semibold mb-4">Calculation History <button @click="clearHistory" class="absolute right-5 text-blue-200 text-100">Delete All</button></h2>

            <ul>
                <li v-for="(calculation, index) in calculationHistory" :key="index"
                    class="mb-2 p-2 bg-gray-800 text-blue-200 rounded-md shadow-md flex justify-between items-center">
                    <div>
                        {{ calculation.loanAmount }} {{ calculation.currency }} loan at {{ calculation.interestRate }}% for {{ calculation.loanTerm }} months. Monthly Payment: {{ formatCurrency(calculation.monthlyPayment, calculation.currency) }}
                    </div>
                    <button @click="deleteHistoryEntry(index)" class="absolute right-6 bg-blue-100 text-white rounded-full hover:bg-blue-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-900 p-1 w-6 h-6">
                        <img src="https://cdn-icons-png.flaticon.com/512/484/484662.png" alt="Delete" class="w-full h-full">
                    </button>
                </li>
            </ul>
        </div>
    </div>

    <footer class="bg-gray-950 py-5">
        <div class="container mx-auto text-center">
            <p class="text-blue-200">&copy; 2023 Chiko Satria. All Rights Reserved.</p>
        </div>
    </footer>
    <!-- Include Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <!-- Include your JavaScript file -->
    <script src="app.js"></script>
</body>

</html>
 